@import "tailwindcss";

@theme {
  --color-primary: #030014;
  --color-nexflix-red: #e50914;
  --color-light-100: #cecefb;
  --color-light-200: #a8b5db;
  --font-work-sans: "Work Sans Variable", sans-serif;
  --breakpoint-xs: 480px;
  --background-image-hero-pattern: url("/public/hero-bg.webp");
}

@layer base {
  body {
    font-family: "Work Sans Variable", sans-serif;
    font-optical-sizing: auto;
    background: #030014;
  }

  h1 {
    @apply mx-auto max-w-4xl text-center text-4xl font-bold leading-tight tracking-[-1%] text-white sm:text-[64px] sm:leading-[76px];
  }

  h2 {
    @apply text-2xl font-bold text-white sm:text-3xl;
  }

  h3 {
    @apply text-xl font-bold text-white sm:text-2xl;
  }

  p {
    @apply text-white text-base sm:text-lg leading-normal tracking-tight;
  }

  main {
    @apply min-h-screen relative bg-primary;
  }

  header {
    @apply sm:mt-10 mt-5;
  }

  header img {
    @apply w-full max-w-lg h-auto object-contain mx-auto drop-shadow-md;
  }
}

@layer components {
  .pattern {
    @apply bg-hero-pattern w-screen h-screen bg-center bg-cover fixed top-0 z-0;
  }

  .wrapper {
    @apply px-5 py-10 xs:p-10 max-w-7xl mx-auto flex flex-col relative z-10;
  }

  .trending {
    @apply mt-20;

    & ul {
      @apply flex flex-row overflow-y-auto gap-5 mt-5 w-full hide-scrollbar;
    }

    & ul li {
      @apply min-w-[230px] flex flex-row items-center;

      & .trending-card {
        @apply w-[230px] h-[129px] rounded-lg overflow-hidden relative cursor-pointer;

        & span {
          @apply absolute top-0 left-0 text-white text-6xl font-bold z-10 ml-5 mt-3;
        }

        & img {
          @apply w-full h-full object-cover;
        }

        & .trending-shadow {
          @apply absolute bottom-0 left-0 w-full h-1/2 bg-gradient-to-t from-black to-transparent;
        }
      }
    }
  }

  .search {
    @apply w-full bg-light-100/5 px-4 py-3 rounded-lg mt-10 max-w-3xl mx-auto;

    & div {
      @apply relative flex items-center;
    }

    & .search-icon {
      @apply text-slate-500;
    }

    & input {
      @apply w-full bg-transparent py-2 sm:pr-10 pl-2 text-gray-200 placeholder-light-200 outline-hidden;
    }
  }

  .all-movies {
    @apply space-y-9 mt-5 md:mt-8;

    & ul {
      @apply grid grid-cols-1 gap-5 xs:grid-cols-2 md:grid-cols-3 lg:grid-cols-4;
    }
  }

  .movie-card {
    @apply rounded-2xl shadow-inner shadow-light-100/10 overflow-hidden relative cursor-pointer;

    & img {
      @apply w-full object-cover group-hover:blur-xs transition-all duration-300 ease-in-out;
    }

    & .movie-shadow {
      @apply absolute bottom-0 left-0 w-full h-80 bg-gradient-to-t from-black to-transparent;
    }

    & .movie-info {
      @apply absolute w-full p-6 bottom-0 z-20 mb-4 transform translate-y-20 group-hover:translate-y-0 transition-all;

      & .star {
        @apply text-sm bg-slate-800 w-fit px-2 py-1 rounded-full text-white;
      }

      & h4 {
        @apply text-white font-medium mt-2;
      }

      & p {
        @apply text-sm text-white mt-1 line-clamp-2;
      }

      & button {
        @apply w-full mt-5 bg-nexflix-red text-white py-2 rounded-md cursor-pointer;
      }
    }
  }
}

@utility log {
  @apply border-4 border-solid border-red-500;
}

@utility text-gradient {
  @apply bg-linear-to-r from-[#190405] to-[#e50914] bg-clip-text text-transparent;
}

@utility fancy-text {
  -webkit-text-stroke: 5px rgba(206, 206, 251, 0.5);
  font-size: 190px;
  font-family: "Bebas Neue", sans-serif;
}

@utility hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
